{# <div class="dashnavparent">
    <div id="DashboardNavigationContainer">
        <i class="fa-solid fa-square-sliders" id="dashboard-menu-icon"></i>
        <i class="fa-solid fa-square-xmark" id="dashboard-menu-close-icon"></i>

        <ul class="navbar-nav menu-links ml-4 m-auto" id="dashboardnav">
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/index">Dashboard</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Profile">Profile</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Portfolio">Portfolio</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Projects">Projects</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Requirements">Requirements</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Enquiries">Enquiries</a>
            </li>
            <li class="dropdown">
                <a id="dashmenu" class="main" href="/account/Endorsements">Endorsements</a>
            </li>
        </ul>
        
        
    </div>
    

</div> #}