{% extends 'layouts/arqonz_layout.html.twig' %}
{% do pimcore_head_link().appendStylesheet('/static/css/arqonz_Prodashboard.css') %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block content %}
    {% include 'Professional/dashboard_navigation.html.twig' %}

    <div class="dashboard-container">
        <div class="left-column" style="width: 100%; justify-content:center;">
            <!-- ArchitectProjects -->
            <div class="requirements">
                <div class="sectionheading">
                    <h2>Requirements</h2> 
                </div>
                <div class="requirementcontent">
                    <p>Download Template Excel file given below and add your Requirements in the respective colums</p>
                    <div class="Add-project-button" style="margin-left:0px;">
                        <a href="/static/files/Requirements-Template.xlsx" class="btn btn-lg btn-block btn-success btn" target="_blank"><i class="fa-solid fa-down" aria-hidden="true" style="font-size:15px;"></i> Download Template</a>
                    </div>
                    <h3>Add Requirements Sheet</h3>
                    {{ form(form) }}
                </div>
            </div>
        </div>
    
    
{% endblock %}